
<mat-card>
    <mat-card-header>
      <mat-card-title>Edit Account Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Username" type="text" placeholder="Username" name="Userame">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Email" type="email" placeholder="e-mail" name="Email">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="userData.Birthday" type="date" placeholder="Birthday" name="Birthday">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="updateUser()">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
