<div class="movie-card-wrapper">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions>
            <button
                mat-raised-button
                color="primary"
                (click)="openGenreDialog(
                    movie.Genre.name, 
                    movie.Genre.description
                    )"
            >
                Genre
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="
                openDirectorDialog(
                  movie.Director.name,
                  movie.Director.bio,
                  movie.Director.birthDate
                )"  
            >
                Director
            </button>
            <button
                mat-raised-button
            >
                Synopsis
            </button>
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>