<div>
    <mat-card>
      <mat-card-content class="card-content">
        <p>Username: {{ user.Username }}</p>
        <p>Email: {{ user.Email }}</p>
        <p>Birth Date: {{ user.BirthDay | date: "MM/dd/yyyy":"UTC" }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="float-right"
          mat-raised-button
          color="primary"
          (click)="openEditProfileDialog()"
        >
          Edit
        </button>
        <button 
        class="float-right"
        mat-raised-button
        color="primary"
        (click)="openDeleteProfileDialog()"
        >
          Delete
        </button>
      </mat-card-actions>
      
    <h1 class="favoriteTitle">Favorite Movies</h1>
    <div class="favoriteMovies">
      <div class="movie-container" *ngFor="let fav of favMovies">
        <h2>{{fav.Title}}</h2>
        <img src={{fav.ImgPath}} />
        <button mat-raised-button color="warn" (click)="removeFav(fav._id, fav.Title)">Remove</button>
      </div>
    </div>
    </mat-card>
  </div>