<app-navbar-card></app-navbar-card>
<div>
    <mat-card>
      <form>
        <mat-form-field appearance="legacy">
          <input disabled matInput [(ngModel)]="user.Username" type="username" placeholder="Username"
            name="Username">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <input disabled matInput [(ngModel)]="user.Email" type="email" placeholder="e-mail" name="Email">
        </mat-form-field>
      </form>
      <mat-card-actions>
        <button
          class="float-right"
          mat-raised-button
          color="primary"
          (click)="openEditProfileDialog()"
        >
          Edit
        </button>
        <button 
        class="float-right"
        mat-raised-button
        color="primary"
        (click)="openDeleteProfileDialog()"
        >
          Delete
        </button>
      </mat-card-actions>
      
    <h1 class="favoriteTitle">Favorite Movies</h1>
    <div class="favoriteMovies">
      <div class="movie-container" *ngFor="let fav of favMovies">
        <h2>{{fav.Title}}</h2>
        <img src={{fav.ImgPath}} />
        <button mat-raised-button color="warn" (click)="removeFav(fav._id, fav.Title)">Remove</button>
      </div>
    </div>
    </mat-card>
  </div>